# Application
streamlit
fastapi
uvicorn
python-multipart
requests

# Vision
opencv-python-headless
deepface
tensorflow
tf-keras

# Voice
faster-whisper
gTTS

# RAG & Database
pymupdf
chromadb
sentence-transformers
firebase-admin
groq
python-dotenv

# Testing & Dev
pytest